body, html {
    
}
.bg-dark {
    background-color: #231f1f !important;;
}

nav .active{
    background-color: black;
}

ul li a{
    color: white;
}

.linea{
    background-color: gray;
    height: 10px;
    width: 100%;
}

.bottom{
    background-color: #231f1f;
    height: 30px;
    width: 100%;
}

.bottom p{
    color: white;
}
